/* Apply dark theme if the user prefers dark mode */
@media (prefers-color-scheme: dark) {
    /*body {*/
    /*    background-color: #121212;*/
    /*    color: white;*/
    /*}*/
}

table {
    border-collapse: collapse;
}

div#city,
div#shop,
div#method,
div#item {
    display: inline-block;
    width: 10%;
}
